<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6f5bb579-e0c0-4c2b-97ec-7884a0804f98/resourceGroups/padrao/providers/Microsoft.Web/sites/CrudMvcWeb</ResourceId>
    <ResourceGroup>padrao</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://crudmvcweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>crudmvcweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CrudMvcWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CrudMvcWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BancoVendasEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=serverdevmedia.database.windows.net;Initial Catalog=dbdevmedia;Persist Security Info=True;User ID=admindevmedia;Password=Ferreira884124" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CrudMvcWeb.BancoVendasEntities, CrudMvcWeb" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BancoVendasEntities-Web.config Connection String">
      <ParameterValue>Data Source=serverdevmedia.database.windows.net;Initial Catalog=dbdevmedia;Persist Security Info=True;User ID=admindevmedia;Password=Ferreira884124</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>